body{background: #fffffff;}
#Logo{border: 5cm;
border-radius: 5cm;
}
.topmenu ul li{
list-style-type: none; 
margin: 0; 
padding: 0; 
overflow: hidden; 
float: left; 
text-align: center; 
padding: 20px 20px; 
display: inline;
border-right: 2px solid grey;
line-height: 1px;
padding:0px 30px 0px 30px;

}
nav{
    background-color: #333;
}
.topmenu li:last-child{
border-right: none; 
}
h1{
    color: blue;
}
.return:hover{background-color: blue;
color: blue;}
.floatright{
    float: right ; border-image-width: 150px;
}